<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="TestAutomationFramework.Properties.TestSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="url" value="https://www.freecrm.com" />
    <add key="username" value="naveenk" />
    <add key="password" value="test@123" />
    <add key="browser" value="chrome" />
    <add key="TestDataSheetPath" value="C:/Users/Dsilla/Documents/visual studio 2015/Projects/TestAutomationFramework/TestAutomationFramework/TestData/TestData.xlsx" />
  </appSettings>

</configuration>